<%= form_with(model: @feed, local: true, url: confirm_blogs_path) do |form| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= @feed.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="feed_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="feed_field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "一覧画面にもどる", feeds_path %>
