<div class="feed_confirm">
  <div class="fc_container">
    <div class="fc_content">
      <%= form_with(model: @feed, url: feeds_path, local: true) do |f| %>
        <p><%= @feed.content %></p>
        <%= f.hidden_field :content %>
        <%= image_tag(@feed.image.url) %>
        <%= hidden_field_tag :"cache[image]", @feed.image.cache_name %>
        <%= f.hidden_field :image_cache %>

        <%= f.submit  "投稿する" %>

        <%= f.submit "戻る", name: 'back' %>
      <% end %>
    </div>
  </div>
</div>
