<div class="container-fluid signup">
  <article class="content">
    <div class="signup-image">

    </div>

    <div class="signup-form">
      <div class="form-cont">
      <h1>SnapGraph</h1
        <form class="xform">
          <h2>友達の写真や動画をチェックしよう</h2>
          <!-- <input type="button" value="Facebookでログイン" class="fb-link"> -->
          <div class="fb-btn">
            <button class="fb-link" type="button"><i class="fab fa-facebook-square fb-icon"></i>Facebookでログイン</button>
          </div>
          <div class="select-form">
          <div class="bord"></div>
          <p class="sel">または</p>
          <div class="bord"></div>
          </div>
          <dt>
          <%= form_with(model: @user, local: true) do |f| %>
            <dd><%= f.email_field :email, class:"form-control", placeholder:"メールアドレスまたは電話番号" %></dd>

            <dd><%= f.text_field :name, class:"form-control", placeholder:"フルネーム" %></dd>

            <%= f.label :image_name %>
            <%= f.file_field :image_name %>

            <dd><%= f.password_field :password, class:"form-control", placeholder:"パスワード" %></dd>

            <dd><%= f.password_field :password_confirmation,class:"form-control", placeholder:"パスワード(確認用)" %></dd>

            <dd><%= f.submit "登録する", class: "btn btn-primary btn-block" %></dd>
          <% end %>
          </dt>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
        <div>
          <p class="login-link">アカウントをお持ちですか？<%= link_to "ログインする", new_session_path %></p>
        </div>
    </div>
  </div>
</div>
