<h1><%= @user.name %>のページ</h1>

<p>画像<%= image_tag(@user.image_name.url) if @user.image_name && @user.image_name.url %></p>

<p>メールアドレス: <%= @user.email %></p>

<%= link_to '編集', edit_user_path(@user.id), data: { confirm: '本当に編集していいですか？' } %>

<%= link_to 'HOME', feeds_path %>
