<main class="sh_main">
  <div class="sh_d1">
    <header class="sh_hd">
      <div class="sh_icon">
        <div class="sh_img">
          <div class="sh_img2">
            <button class="img_btn">
              <%= image_tag(@user.image_name.thumb.url) if @user.image_name && @user.image_name.url %>
            </button>
          </div>
        </div>
      </div
        <aticle class="sh_pro">
          <div class="sh_ed">
            <h1 class="sh_name"><%= @user.name %></h1>
            <div class="sh_link">
              <button class="link_btn">
                <span class="sh_btn">
                  <i class="fas fa-th"></i>
                </span>
              </button>
            </div>
          </div>
            <div class="sh_ed">
              <button class="ed_lbtn">
                <%= link_to 'プロフィールを編集', edit_user_path(@user.id), data: { confirm: '本当に編集していいですか？' } %>
              </button>
            </div>
            <div class="sh_ed">
              <button class="ed_lbtn">
                <%= link_to 'HOME', feeds_path %>
              </button>
              <button class="ed_lbtn">
                <%= button_to "Logout", session_path, method: :delete %>
              </button>
            </div>
        </aticle>
      </header>
      <section class="sh_feed">
        <a class="sh_t">
          <span class="sh_tag">
            <div class="tag_icon1">
              <i class="fas fa-th"></i>
            </div>
            <span class="tag_name">投稿</span>
          </span>
        </a>
        <a class="sh_t">
          <span class="sh_tag">
            <div class="tag_icon2">
              <i class="fas fa-tv"></i>
            </div>
            <span class="tag_name">IGTV</span>
          </span>
        </a>
        <a class="sh_t">
          <span class="sh_tag">
            <div class="tag_icon3">
              <i class="far fa-bookmark"></i>
            </div>
            <span class="tag_name">保存済み</span>
          </span>
        </a>
        <a class="sh_t">
          <span class="sh_tag">
            <div class="tag_icon4">
              <i class="fas fa-user-tag"></i>
            </div>
            <span class="tag_name">タグづけされている人</span>
          </span>
        </a>
      </section>
      <aticle class="garllery_content">
      <div class="ug">
        <ul class="gallery">
          <% @feeds.each do |feed| %>
          <li class="gallery_items"><%= image_tag(feed.image.url) if feed.image && feed.image.url %></li>
          <% end %>
        </ul>
      </div>
      </aticle>
    </div>
  </main>
<!-- <p>メールアドレス: <%= @user.email %></p> -->

<!-- </section> -->
